.button{
    padding: 15px;
    width: auto;
    background: rgb(249,233,136);
    border: none;
    border-radius:40px;
    transition: 0.3s ease all;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    color: #0D133B;
}


.button:hover{
    transform: scale(1.1);
}

.button:active{
    transform: translateY(5px);
    box-shadow: 0 2px 32px #fff;
}