.navbar{
    width: 100%;
    height: 130px;
    background:rgb(13,19,59);
    align-items: center;
    display: flex;
}

.h1{
    color: rgb(140,198,62);
    margin: 0 0 0 10px;
}

.img{
    width:100px;
    height: auto;
    float: left;
    margin-left: 120px;
}

.bar{
    width: 1px;
    height: 80px;
    background: #ccc;
    margin: 0 10px 0 40px;
}

.right {
    display: flex;
    margin: 0 60px 0 auto; 
    justify-content: center;
}


.icon{
    transition: 0.3s ease all;
}
.icon:hover{
    transform: rotate(45deg);
}

.backButton{
    color: #fff;
    margin-left: 30px;
    margin-right: -100px;
}