.button{
    padding: 20px;
    background: red;
    color: #fff;
    border: none;
    width: auto;
    border-radius: 40px;
    transition: 0.3s ease all;
}

.button:hover{
    transform: scale(1.04);
}

.button:active{
    transform: translateY(10px);
    box-shadow: 0 4px 20px #fff;
}