.input {
    width: 200px;
    padding: 20px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    outline: none; /* Ensure that the outline is also removed on focus */
}

.input:focus,
.input:active {
    border: none;
}


.button{
    padding: 10px;
    border: none;
    background: #ccc;
    border-radius: 20px;
    transition: 0.3s ease all;
}

.button:hover{
    background: #444044;
    color: #fff;
}