.container{
    width: auto;
    height: 87vh;
    background: rgb(252,252,238);
}

.contents{
    padding-top: 40px;
    width: 100%;
    display: flex;
    height:auto;
    /* background: #000; */
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 90px;
    padding-bottom: 40px;
}

