.container {
    width: 100%;
    min-height:832px;
    height: auto;
    background: rgb(252, 252, 238);
    display: flex;
    justify-content: center;
    position: fixed;
  }
  
  .contents {
    padding: 40px;
    width: 60%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 90px;
    padding-bottom: 40px;
    
  }
  